@page
@model LoanCalculator.RazorPages.Pages.NewLoan.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Loan</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LoanApplication.FirstName" class="control-label"></label>
                <input asp-for="LoanApplication.FirstName" class="form-control" />
                <span asp-validation-for="LoanApplication.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanApplication.LastName" class="control-label"></label>
                <input asp-for="LoanApplication.LastName" class="form-control" />
                <span asp-validation-for="LoanApplication.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanApplication.AnnualIncome" class="control-label"></label>
                <input asp-for="LoanApplication.AnnualIncome" class="form-control" />
                <span asp-validation-for="LoanApplication.AnnualIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanApplication.CreditScore" class="control-label"></label>
                <input asp-for="LoanApplication.CreditScore" class="form-control" />
                <span asp-validation-for="LoanApplication.CreditScore" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TermYears" class="control-label"></label>
                <select asp-for="TermYears" asp-items="Model.LoanTerms">
                    <option value="">Pick one</option>
                </select>
                <span asp-validation-for="LoanApplication.Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanApplication.LoanAmount" class="control-label"></label>
                <input asp-for="LoanApplication.LoanAmount" class="form-control"  />
                <span asp-validation-for="LoanApplication.LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Analyze Loan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}